.hidden {
    display: none;
}
body {
    position: relative;
    margin-top: 13%;
    height: 100vh;
    /*background-image: url("../img/0.jpg");*/
    background-repeat : no-repeat;
    background-size : cover;
    overflow: hidden;
    width:100%;
    text-align: center;
    color: white;
}
#clock {
    position: relative;
    margin: 0 auto;
    top: 2%;
    font-size: 3em;
}
#weather {
    position: fixed;
    float: right;
    top: 2%;
    right: 2%;
}
#quote {
    position: fixed;
    width: 100%;
    top: 90%;
    font-size: 1.2em;
    color: white;
}
input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    width: 50%;
    height: 25%;
    font-size: 1.1em;
    margin: 10%;
    color: white;
}
input:focus {
    outline:none;
}
ul {
    list-style: none;
}
li {
    display: list-item;
}
button {
    background: transparent;
    border: none;
    color: white;
}